# Tutorial for using the package `fast-ml` 

This package is as good as having a junior Data Scientist working for you. Most of the commonly used EDA steps, Missing Data Imputation techniques, Feature Engineering steps are covered in a ready to use format

## Part 5. Feature Engineering for Categorical Variables / Categorical Encodings



#### 1. Import feature engineering module from the package 
`from fast_ml.feature_engineering import FeatureEngineering_Categorical, FeatureEngineering_Numerical`

#### 2. Define the imputer object. 
* For Categorical variables use `FeatureEngineering_Categorical`
* For Numerical variables use `FeatureEngineering_Numerical`

`cat_encoder = FeatureEngineering_Categorical(method = 'label')`
<br>or<br>
`num_encoder = FeatureEngineering_Numerical(method = 'decile')`

#### 3. Fit the object on your dataframe and provide a list of variables
`cat_encoder.fit(train, variables = ['BsmtQual'])`

#### 4. Apply the transform method on train / test dataset
`train = cat_encoder.transform(train)`
<br>&<br>
`test = cat_encoder.transform(test)`

#### 5. parameter dictionary gets created which store the values used for encoding. It can be viewed as
`cat_encoder.param_dict_`

### Available Methods for Categorical Encoding


1. One-hot Encoding
1. Label Encoding / Integer Encoding
1. Count Encoding
1. Frequeny Encoding
1. Ordered Label Encoding

<b>Target Based Encoding</b>
6. Target Ordered Encoding
7. Target Mean Value Encoding
8. Target Probability Ratio Encoding (only Classification model)
9. Weight of Evidence (WOE) Encoding (only Classification model)

## Start Feature Engineering for Categorical Variables

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from fast_ml.feature_engineering import FeatureEngineering_Categorical

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../data/titanic.csv')
df.shape

(891, 12)

In [59]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
numeric_type = ['float64', 'int64']
category_type = ['object']

## Categorical Variables

## Step 1 : Rare Encoding the variables

In [29]:
rare_encode = ['BsmtQual', 'FireplaceQu']

In [30]:
for var in rare_encode:
    df[var].fillna('Missing', inplace = True)
    print(df[var].value_counts())

TA         649
Gd         618
Ex         121
Missing     37
Fa          35
Name: BsmtQual, dtype: int64
Missing    690
Gd         380
TA         313
Fa          33
Ex          24
Po          20
Name: FireplaceQu, dtype: int64

In [5]:
rare_encoder = FeatureEngineering_Categorical(method='rare', rare_tol=0.05)
rare_encoder.fit(df, variables = rare_encode)
rare_encoder.param_dict_

{'BsmtQual': {'TA': 0.44452054794520546,
  'Gd': 0.4232876712328767,
  'Ex': 0.08287671232876713,
  'Missing': 0.025342465753424658,
  'Fa': 0.023972602739726026},
 'FireplaceQu': {'Missing': 0.4726027397260274,
  'Gd': 0.2602739726027397,
  'TA': 0.21438356164383562,
  'Fa': 0.022602739726027398,
  'Ex': 0.01643835616438356,
  'Po': 0.0136986301369863}}

In [6]:
df = rare_encoder.transform(df)

In [7]:
for var in rare_encode:
    print(df[var].value_counts())

TA      649
Gd      618
Ex      121
Rare     72
Name: BsmtQual, dtype: int64
Missing    690
Gd         380
TA         313
Rare        77
Name: FireplaceQu, dtype: int64

## Step 2 : Encoding the Variables in Numeric values

### 1. BsmtQual

In [8]:
#Before Imputation
df['BsmtQual'].value_counts()

TA      649
Gd      618
Ex      121
Rare     72
Name: BsmtQual, dtype: int64

In [9]:
cat_encoder1 = FeatureEngineering_Categorical(method = 'label')
cat_encoder1.fit(df, variables = ['BsmtQual'])

In [10]:
cat_encoder1.param_dict_

{'BsmtQual': {'Gd': 0, 'TA': 1, 'Ex': 2, 'Rare': 3}}

In [11]:
df = cat_encoder1.transform(df)

In [12]:
#After Imputation
df['BsmtQual'].value_counts()

1    649
0    618
2    121
3     72
Name: BsmtQual, dtype: int64

### 2. FireplaceQu

In [3]:
df = pd.read_csv('../data/house_prices.csv')
df['FireplaceQu'].fillna('Missing', inplace = True)

#Before Imputation
df['FireplaceQu'].value_counts()

Missing    690
Gd         380
TA         313
Fa          33
Ex          24
Po          20
Name: FireplaceQu, dtype: int64

In [4]:
cat_encoder2 = FeatureEngineering_Categorical(method = 'target_mean')
cat_encoder2.fit(df, variables = ['FireplaceQu'],target = 'SalePrice')

print (cat_encoder2.param_dict_)

df = cat_encoder2.transform(df)

{'FireplaceQu': {'Ex': 337712.5, 'Fa': 167298.48484848486, 'Gd': 226351.41578947369, 'Missing': 141331.48260869566, 'Po': 129764.15, 'TA': 205723.48881789137}}

In [5]:
#After Imputation
df['FireplaceQu'].value_counts()

141331.482609    690
226351.415789    380
205723.488818    313
167298.484848     33
337712.500000     24
129764.150000     20
Name: FireplaceQu, dtype: int64

----

## Classification Model - Target based Encoding

In [6]:
df = pd.read_csv('../data/titanic.csv')
df['Embarked'].fillna('Missing', inplace = True)

#Before Imputation
print('Before Imputation')
print(df['Embarked'].value_counts())

cat_encoder3 = FeatureEngineering_Categorical(model='clf', method = 'target_prob_ratio')
cat_encoder3.fit(df, variables = ['Embarked'],target = 'Survived')

print('Parameter Dictionary')
print(cat_encoder3.param_dict_)

df = cat_encoder3.transform(df)

#After Imputation
print('After Imputation')
print(df['Embarked'].value_counts())

Before Imputation
S          644
C          168
Q           77
Missing      2
Name: Embarked, dtype: int64
Parameter Dictionary
{'Embarked': {'C': 1.2400000000000002, 'Missing': inf, 'Q': 0.6382978723404256, 'S': 0.5081967213114753}}
After Imputation
0.508197    644
1.240000    168
0.638298     77
inf           2
Name: Embarked, dtype: int64