# Tutorial for using the package `fast-ml` 

This package is as good as having a junior Data Scientist working for you. Most of the commonly used EDA steps, Missing Data Imputation techniques, Feature Engineering steps are covered in a ready to use format

## Part 4. Outlier Analysis and Treatment



#### 1. Import eda module from the package 
`from fast_ml.missing_data_imputation import MissingDataImputer_Categorical, MissingDataImputer_Numerical`

#### 2. Define the imputer object. 
* For Categorical variables use `MissingDataImputer_Categorical`
* For Numerical variables use `MissingDataImputer_Numerical`

`cat_imputer = MissingDataImputer_Categorical(method = 'frequent')`

#### 3. Fit the object on your dataframe and provide a list of variables
`cat_imputer.fit(train, variables = ['BsmtQual'])`

#### 4. Apply the transform method on train / test dataset
`train = cat_imputer.transform(train)`
<br>&<br>
`test = cat_imputer.transform(test)`

#### 5. parameter dictionary gets created which store the values used for imputation. It can be viewed as
`cat_imputer.param_dict_`

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from fast_ml.missing_data_imputation import MissingDataImputer_Categorical, MissingDataImputer_Numerical

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [12]:
df = pd.read_csv('train.csv')
df.shape

(1460, 81)

In [3]:
df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
numeric_type = ['float64', 'int64']
category_type = ['object']

## Start Missing Data Imputation

## Numerical Variables

### 1. LotFrontage

In [ ]:
# Use the following method for a numerical variable 
eda_obj.eda_numerical_variable('MSSubClass')

### 2.  GarageYrBlt

In [ ]:
# Use the following method for a numerical variable 
eda_obj.eda_numerical_variable('LotFrontage')

## Categorical Variables

### 1. BsmtQual

### 2. FireplaceQu

In [ ]:
def eda_num_vars_outlier_detect (df, variables, tol = 1.5):
    col=3
    row = int(np.ceil(len(variables)/3))
    fig = plt.figure(figsize=(6*col,5*row))
    for i, var in enumerate(variables):
        quartile_range = iqr(df[var][df[c].notnull()])
        quartile_1, quartile_3 = np.percentile(df[var][df[var].notnull()], [25,75])
        lower_bound = quartile_1 - quartile_range*1.5
        upper_bound = quartile_3 + quartile_range*1.5

        ax = fig.add_subplot(row,col,i+1)
        sns.boxplot(x=df[c], orient='h')

        ax.set_title(f'Lower IQR Bound: {round(lower_bound,2)} | Upper IQR Bound: {round(upper_bound,2)}')
    plt.show()